<h2>My emergencias</h2> // todas as modificação

<div> // novo
  <label>emergencia name:
    <input #emergenciaName />
  </label>
  <!-- (click) passes input value to add() and then clears the input -->
  <button (click)="add(emergenciaName.value); emergenciaName.value=''">
    add
  </button>
</div> //novo

<ul class="emergencias">
  <li *ngFor="let emergencia of emergencias"
    [class.selected]="emergencia === selectedemergencia"
    (click)="onSelect(emergencia)">
      <a routerLink="/detail/{{emergencia.id}}">
    <span class="badge">{{emergencia.id}}</span> {{emergencia.name}}
	</a>

   <button class="delete" title="delete emergencia"
 (click)="delete(emergencia)">x</button>

  </li>
</ul>
  <app-emergencia-detail [emergencia]="selectedemergencia"><app-emergencia-detail>

  <div *ngIf="selectedemergencia">
    <h2>{{selectedemergencia.name | uppercase}} Details</h2>
    <div><span>id: </span>{{selectedemergencia.id}}</div>
    <div>
    <label>name:
      <input [(ngModel)]="selectedemergencia.name" placeholder="name">
    </label>
  </div>

</div>
